.GameContainer {
    display: grid;
    text-align: center;
    font-size: 20px; 
   width:fit-content;
   background-color: #000000;
   color: #0aef28;
    border-radius: 12px;
   height:fit-content;
    border:5px solid #000000;
    align-content: center;
    padding: 10px;
    animation: alternate-reverse glow 3s infinite;
}
.statusRow {
    display: flex;
    justify-content: space-between; /* same line, spaced */
    align-items: center;
    width: 100%;
}

.head{
    animation: alternate-reverse glow 3s infinite;
}
.body1{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: linear-gradient(to right, #dda0a0, #000000,#3b3d3e, #070707);
    animation: alternate-reverse back 10s infinite;
}
#startBtn{
    width: 48%;
    height: 48px;
    font-size: 23px;
    color: rgb(66, 10, 234);
    margin-left: 15px;
}
.feed{
    border: 2px solid #0aef28;
}
.rulesBtn{
    width: 48%;
    height: 48px;
    font-size: 23px;
    color: rgb(57, 7, 240);
}
.inputt{
    width: 100%;
    height: 50px;
    font-size: 20px;
    border-radius: 6px;
    padding: 5px;
    border: 4px solid #100048;
}
.submit{
    width: 100%;
    height: 50px;
    font-size: 20px;
    border-radius: 6px;
    border: 4px solid #100048;
    margin-top: 5px;
    margin-bottom: 5px;

}
@keyframes back{
    0% {
        background: linear-gradient(to right, #434343, #000000, #3b3d3e, #070707);
    }
    25% {
        background: linear-gradient(to right, #3b3d3e, #000000, #070707, #434343);
    }
    50% {
        background: linear-gradient(to right, #000000, #070707, #434343, #3b3d3e);
    }  
    75% {
        background: linear-gradient(to right, #070707, #434343, #3b3d3e, #000000);
    } 
    100% {
        background: linear-gradient(to right, #070707, #3b3d3e, #000000, #434343);
    }
}
@keyframes glow {
    0% {
        box-shadow: 0 0 5px #0fff3b;
    }
    25%{
        box-shadow: 0 0 10px #00ffd5;
    }
    50% {
        box-shadow: 0 0 15px #0a00cf;
    }
    75% {
        box-shadow: 0 0 10px #f18a02;
    }
    100% {
        box-shadow: 0 0 5px #ee0475;
    }
}
.slide {
  animation: slideDown 1s ease-out;
}
.GameContainer1 {
    display: grid;
    text-align: center;
    font-size: 20px; 
   width:500px;
   background-color: #000000;
   color: #0aef28;
    border-radius: 12px;
   height:fit-content;
    border:5px solid #000000;
    align-content: center;
    padding: 20px;
    animation: alternate-reverse glow 3s infinite;
}
#levelSelect{
    width: 60%;
    height: 60px;
    font-size: 20px;
    border-radius: 6px;
    padding: 5px;
    border: 4px solid #100048;
}
.GameContainer2{
    display: grid;
    text-align: center;
    font-size: 20px; 
   width:500px;
   background-color: #000000;
   color: #0aef28;
    border-radius: 12px;
   height:fit-content;
    border:5px solid #000000;
    align-content: center;
    padding: 20px;
    animation: alternate-reverse glow 3s infinite;
}
@media screen and (max-width: 768px) {
    .GameContainer1, .GameContainer2 {
        width: 90%;
    }
    #levelSelect {
        width: 100%;
    }
    
}


